/* styles.css */

/* 全体のフォントと背景設定 */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212; /* よりダークでモダンな背景色 */
    margin: 0;
    color: #fff;
}

/* ヘッダーのスタイル */
header {
    background-color: #222; /* よりダークでモダンな色 */
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px; /* 下部に余白を追加 */
}

h1 {
    margin: 0;
}

/* メインコンテンツのスタイル */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 80px); /* ヘッダーの高さを差し引いた高さ */
}

.container {
    background-color: #1e1e1e; /* よりダークでモダンな背景色 */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0 auto;
    width: 80%; /* 幅を100%に */
    height: 100%; /* 高さを100%に */
    max-width: 100%;
    max-height: calc(100% - 80px); /* ヘッダーの高さを差し引いた高さ */
    position: relative;
}

/* コントロールボタンのスタイル */
.controls {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* ボタンを垂直に並べる */
    align-items: center;
    height: 200px;
}

button {
    background-color: #ff3333; /* モダンなレッドカラー */
    border: none;
    color: #fff;
    padding: 10px; /* 水平方向のパディングを増やす */
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 30px; /* マージンを減らす */
    transition: background-color 0.3s;
    width: 50%; /* 幅を100%に */
}

button:hover {
    background-color: #ff5555; /* ホバー時のカラー変化 */
}

/* スピード調整のスタイル */
.speed-control {
    margin-bottom: 20px;
    width: 60%;
    margin: auto;
}

/* 結果情報のスタイル */
.result-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #313131;
    color: #ffffff;
    border-radius: 10px; /* よりモダンな外観 */
    padding: 10px; /* よりコンパクトなデザイン */
    margin-top: 25px;
}

.result-item {
    margin: 5px;
    flex-basis: calc(50% - 10px);
}

/* スライダーのスタイル */
input[type="range"] {
    width: 100%;
    appearance: none;
    background: linear-gradient(to right, #ff0000, #ff3333); /* グラデーション背景 */
    border-radius: 5px;
    height: 5px;
    outline: none;
    margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* サムネイルの影 */
}

/* 結果メッセージのスタイル */
.result {
    margin-top:
    20px;
    padding: 20px;
    background-color: #191919;
    border-radius: 20px;
    font-size: 50px;
    line-height: 1.5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    color: #eaff00;
}

#additionalText {
    color: aqua;
    font-weight: bold; /* フォントウェイトの修正 */
}

.info {
    padding: 50px;
    position: relative;
    color: rgb(0, 173, 6);
    font-size: 100px;
    background-color: #000000;
    margin-top: 30px;
}

.startAfterInfo{
    margin-top: 30px;
}

.slumpGraphcontainer {
    position: relative; /* 相対位置 */
    width: 100%; /* 幅を100%に */
    max-width: 600px;
    height: auto; /* 高さを自動調整 */
    overflow-y: auto; /* 縦方向のオーバーフローに対応 */
}

.slumpGraphcontainer #slumpGraph {
    width: 100%;
    height: 100%; /* グラフコンテナの100%を占める */
}
